@charset "utf-8";

$light-gray: #eaeaea;
$dark-gray: rgba(0,0,0,.14);

$font-family: 'Montserrat', Georgia, serif;

html {
  font-family: $font-family;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 400px;
}

.box {
  display: flex;
  border: 1px solid $light-gray;
  box-shadow: 0 2px 2px 0 $dark-gray, 0 3px 1px -2px $dark-gray, 0 1px 5px 0 $dark-gray;
  margin-bottom: 0.8rem;
}

.loader {
  color: $dark-gray;
  text-align: center;
}

.station-list {
  .station-row {
    &:hover {
      background-color: $light-gray;
      cursor: pointer;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $light-gray;

    span {
      pointer-events: none;

      &:first-child {
        padding-left: 1rem;
      }

      &:last-child {
        padding-right: 1rem;
      }
    }
  }
}

.station-pane {
  min-height: 200px;

  ul {
    flex: 1;
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li {
      display: flex;
      justify-content: space-between;

      strong {
        font-weight: 500;
      }
    }
  }
}

.station-search {
  input {
    flex: 1;
    margin: 0.5rem;
    border-radius: 0.3rem;
    padding: 0.5rem;
    border: 1px solid $dark-gray;
    box-shadow: inset 0 1px 2px $dark-gray;
    font-size: 1rem;

    &::placeholder {
      font-family: $font-family;
      font-size: 1rem;
    }
  }
}
